@model IEnumerable<FieldViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Поля</h1>

<p>
    <a class="btn btn-primary" asp-route-sourceId="@ViewBag.SourceId" asp-action="Create">Новое поле</a>
    <a class="btn btn-primary" asp-controller="DataSources" asp-action="Index">Источники данных</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataType)
                </td>
                <td>
                    @Html.ActionLink("Атрибуты", "Attributes", new { fieldId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
