@model IEnumerable<DirectoryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Справочники</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Новый справочник</a>
    <a class="btn btn-primary" asp-controller="DataSources" asp-action="Index">Источники данных</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessObjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessObjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceName)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary d-none d-md-inline-block">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
